<article>
  <h2><div class="postdate hidden-phone"><div class="month">{{month}}</div><div class="day">{{day}}</div><div class="year">{{year}}</div></div> {{title}} <span class="label label-info">{{tags}}</span></h2>
  
  {{{extended}}}
  
</article>